<h1>
  user status:
  <%= currentUser?currentUser.status:"outsider"; %>
</h1>
<h2>
  <% if (currentUser) { %>
  Current User:
  <%= currentUser.fullName %>
  <a href="/log-out">log out</a>
  <% } else {%>
  Want to create posts?
  <a href="/log-in">log in</a> <a href="/sign-up">Sign up</a>
  <%}%>
</h2>
<% if (currentUser) { %>
<% if (currentUser.status==="normal") { %>
<h3><a href="/member">want to become a member?</a></h3>
<% } %>

<% if (currentUser.status!=="admin") { %>
<h3><a href="/admin">want to become an admin?</a></h3>
<% } %>
<% }  %>

<h1><%= title %></h1>
<p>
  Welcome to
  <%= title %>
</p>

<%- include('posts') %>

<% if (currentUser) { %>
<h3><a href="/create">Create a post</a></h3>
<% } %>
