<% const redacted="[[ Redacted ]]" %>
<h1>posts</h1>
<% posts.forEach(post => { %>
<div class="post">
  <h2><%= post.title %></h2>
  <h3>
    Posted by
    <%= !currentUser || currentUser.status === "user"?redacted: post.author.fullName; %>
    on
    <%= !currentUser || currentUser.status === "user"?redacted: post.formattedDate; %>
  </h3>
  <p class="postText"><%= post.postText %></p>
  <% if (currentUser && currentUser.status === "admin") { %>
  <form action="/delete" method="post">
    <input type="hidden" name="id" value="<%= post.id %>" />
    <button>Delete</button>
  </form>
  <% } %>
</div>

<% }) %>
